{% extends 'base/main.html' %}

{% load static %}

{% block content %}
<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

            <div id="video-streams">

                <!-- <div class="video-container" id="user-container-1">
                    <div class="video-player" id="user-1"></div> 
                    <div class="username-wrapper"><span class="user-name"></span></div>
                </div>

                <div class="video-container" id="user-container-2">
                    <div class="video-player" id="user-2"></div> 
                    <div class="username-wrapper"><span class="user-name"></span></div>
                </div>

                <div class="video-container" id="user-container-3">
                    <div class="video-player" id="user-3"></div> 
                    <div class="username-wrapper"><span class="user-name"></span></div>
                </div>

                <div class="video-container" id="user-container-4">
                    <div class="video-player" id="user-4"></div> 
                    <div class="username-wrapper"><span class="user-name"></span></div>
                </div>

                <div class="video-container" id="user-container-4">
                    <div class="video-player" id="user-5"></div> 
                    <div class="username-wrapper"><span class="user-name"></span></div>
                </div>   -->
            </div>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'styles/images/leave.svg' %}" />
        </div>
    </section>
</main>



<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.1.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/stream.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/stream.js' %}"></script>


    
{% endblock content %}